@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* @font-face {
  font-family: Outfit;
  src: url(/build/assets/fonts/Outfit-Thin.ttf);
}




h2 , h1 , p {
  font-family: Outfit;
}
  */
body {
  font-family: "Outfit", sans-serif;

}

@layer utilities {
  @keyframes dotFloat {

    0%,
    100% {
      transform: translate(-50%, -5px);
      /* thoda neeche (start near line) */
    }

    50% {
      transform: translate(-50%, -55px);
      /* upar move kare */
    }
  }

  .animate-dotFloat {
    animation: dotFloat 2.6s ease-in-out infinite;
  }
}


.hover-img {
  transition: all 0.3s ease-out;
}

.hover-img:hover {
  filter: brightness(0.7);
  /* transform: scale(1.05); */
}

body {
  font-family: 'Inter', sans-serif;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

.glass {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
}


.slider {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  gap: 0;
  will-change: transform;
}